
div.container {
    margin: auto;
    max-width: 500px;
    min-width: 320px;
}

div.remaining {
    margin: 10px;
    text-align: left;
    color: gray;
    font-size: 0.8em;
}

div.position {
    margin: 10px;
    text-align: center;
    color: gray;
    font-size: 0.8em;
}

div.question {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1.5em;
}

div.answer {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input.answer {
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

input.border {
    border-style: solid;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-width: 2px;
}

input.border_normal {
    border-color: lightgray;
}

input.border_error {
    border-color: red;
}

div.correct_answer {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1.2em;
    color: green;
}

div.finish {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 2.0em;
    color: gray;
}